# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
cenv/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

*.pem